# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
_examples/.editorconfig
_examples/.gitignore
_examples/.yarnrc.yml
_examples/CONTRIBUTING.md
_examples/LICENSE
_examples/package.json
_examples/README.md
_examples/yarn.lock
_examples/.github/workflows/publish.yml
_examples/.github/workflows/test.yml
_examples/.yarn/plugins/@yarnpkg/plugin-version.cjs
_examples/.yarn/releases/yarn-3.2.0.cjs
_examples/.yarn/versions/5b5c1471.yml
_examples/.yarn/versions/9ef5f981.yml
_examples/.yarn/versions/10de8bbe.yml
_examples/.yarn/versions/29c64826.yml
_examples/.yarn/versions/894d7021.yml
_examples/.yarn/versions/b57f0b1e.yml
_examples/.yarn/versions/c94fa517.yml
_examples/packages/react-arborist/package.json
_examples/packages/react-arborist/tsconfig.json
_examples/packages/react-arborist/src/context.ts
_examples/packages/react-arborist/src/index.ts
_examples/packages/react-arborist/src/utils.ts
_examples/packages/react-arborist/src/components/cursor.tsx
_examples/packages/react-arborist/src/components/default-container.tsx
_examples/packages/react-arborist/src/components/default-cursor.tsx
_examples/packages/react-arborist/src/components/default-drag-preview.tsx
_examples/packages/react-arborist/src/components/default-node.tsx
_examples/packages/react-arborist/src/components/default-row.tsx
_examples/packages/react-arborist/src/components/drag-preview-container.tsx
_examples/packages/react-arborist/src/components/list-inner-element.tsx
_examples/packages/react-arborist/src/components/list-outer-element.tsx
_examples/packages/react-arborist/src/components/outer-drop.ts
_examples/packages/react-arborist/src/components/provider.tsx
_examples/packages/react-arborist/src/components/row-container.tsx
_examples/packages/react-arborist/src/components/tree-container.tsx
_examples/packages/react-arborist/src/components/tree.tsx
_examples/packages/react-arborist/src/data/create-index.ts
_examples/packages/react-arborist/src/data/create-list.ts
_examples/packages/react-arborist/src/data/create-root.ts
_examples/packages/react-arborist/src/data/make-tree.ts
_examples/packages/react-arborist/src/data/simple-tree.ts
_examples/packages/react-arborist/src/dnd/compute-drop.ts
_examples/packages/react-arborist/src/dnd/drag-hook.ts
_examples/packages/react-arborist/src/dnd/drop-hook.ts
_examples/packages/react-arborist/src/dnd/measure-hover.ts
_examples/packages/react-arborist/src/dnd/outer-drop-hook.ts
_examples/packages/react-arborist/src/hooks/use-fresh-node.ts
_examples/packages/react-arborist/src/hooks/use-simple-tree.ts
_examples/packages/react-arborist/src/hooks/use-validated-props.ts
_examples/packages/react-arborist/src/interfaces/node-api.ts
_examples/packages/react-arborist/src/interfaces/tree-api.ts
_examples/packages/react-arborist/src/state/dnd-slice.ts
_examples/packages/react-arborist/src/state/drag-slice.ts
_examples/packages/react-arborist/src/state/edit-slice.ts
_examples/packages/react-arborist/src/state/focus-slice.ts
_examples/packages/react-arborist/src/state/initial.ts
_examples/packages/react-arborist/src/state/open-slice.ts
_examples/packages/react-arborist/src/state/root-reducer.ts
_examples/packages/react-arborist/src/state/selection-slice.ts
_examples/packages/react-arborist/src/types/dnd.ts
_examples/packages/react-arborist/src/types/handlers.ts
_examples/packages/react-arborist/src/types/renderers.ts
_examples/packages/react-arborist/src/types/state.ts
_examples/packages/react-arborist/src/types/tree-props.ts
_examples/packages/react-arborist/src/types/utils.ts
_examples/packages/showcase/.eslintrc.json
_examples/packages/showcase/.gitignore
_examples/packages/showcase/next.config.js
_examples/packages/showcase/package.json
_examples/packages/showcase/README.md
_examples/packages/showcase/tsconfig.json
_examples/packages/showcase/components/fill-flex-parent.tsx
_examples/packages/showcase/components/merge-refs.ts
_examples/packages/showcase/data/cities.ts
_examples/packages/showcase/data/gmail.ts
_examples/packages/showcase/pages/_app.tsx
_examples/packages/showcase/pages/_document.tsx
_examples/packages/showcase/pages/cities.tsx
_examples/packages/showcase/pages/gmail.tsx
_examples/packages/showcase/pages/index.tsx
_examples/packages/showcase/public/favicon.ico
_examples/packages/showcase/public/vercel.svg
_examples/packages/showcase/public/img/cities-demo.png
_examples/packages/showcase/public/img/gmail-demo.png
_examples/packages/showcase/public/img/golden-gate-bridge.jpeg
_examples/packages/showcase/styles/cities.module.css
_examples/packages/showcase/styles/globals.css
_examples/packages/showcase/styles/Gmail.module.css
_examples/packages/showcase/styles/Home.module.css
.trae/rules/project_rules.md
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/favicon.png
coverage/lcov-report/index.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/sorter.js
coverage/lcov-report/src/App.tsx.html
coverage/lcov-report/src/index.html
coverage/lcov-report/src/main.tsx.html
coverage/lcov-report/src/vite-env.d.ts.html
coverage/lcov-report/src/components/controller.ts.html
coverage/lcov-report/src/components/DirectoryPanel.tsx.html
coverage/lcov-report/src/components/fill-flex-parent.tsx.html
coverage/lcov-report/src/components/gmail-data.ts.html
coverage/lcov-report/src/components/GmailSidebar.tsx.html
coverage/lcov-report/src/components/index.html
coverage/lcov-report/src/components/MarkdownEditor.tsx.html
coverage/lcov-report/src/components/merge-refs.tsx.html
coverage/lcov-report/src/components/model.ts.html
coverage/lcov-report/src/components/PlainTextEditor.tsx.html
coverage/lcov-report/src/components/RichTextEditor.tsx.html
coverage/lcov-report/src/components/Welcome.tsx.html
/.vscode/extensions.json
/_examples/lexical/packages/lexical-playground/src/EmbeddedPlayground.tsx
/_examples/lexical/pnpm-lock.yaml
/_examples/
